@charset "UTF-8";

/* 共通部分
-------------------------------------------------- */

body {
  background-color: #a8e4f5;
  font-family: Nunito, sans-serif;
}

/* HOME
-------------------------------------------------- */

.blurb h2 {
  color: #1c4b8d;
  font-weight: 100px;
  font-size: 2.5rem;
}

.blurb p {
  color: #498bc5;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .navbar-brand {
  color: #1c4b8d;
  font-size: 1.5rem;
  font-weight: 700;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #1c4b8d;
}

#headingGroup span {
  color: #1c4b8d;
}

#headingGroup h2 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background: #7fc0e6;
  transition: background 500ms;
}

@media (max-width: 1200px) {
  #headingGroup h2 {
    font-size: 3rem;
  }
}
